<div class="content">
  <div class="container text-center">
    <h1 class="page-title">
      What's New
    </h1>
    <p class="text-center">
      Keep up with what's happening!
    </p>
    <div class="row m-0 announcements">
      <%= render @announcements %>
    </div>
  </div>
</div>