<div class="content">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-auto">
      <div class="card card-bordered card-shadow">
        <div class="card-body">
          <h2 class="card-title text-center">New Text Guide</h2>
          <%= render 'form', guides_text: @guides_text %>
        </div>
      </div>
    </div>
  </div>
</div>