<div class="tabs-panel  <%= @component == 'lists' ? 'active' : '' %>" id="Lists">
  <h2>List Group</h2>
  <p><strong>INTRODUCTION</strong></p>
  <p>The Kickstart <b>list groups</b> component is a flexible and powerful component for displaying a series of content.
    Modify and extend them to support just about any content within.</p>
  <p><strong>BASIC LIST GROUP EXAMPLE</strong></p>
  <ul class="list-group">
    <li class="list-group-item">List Item One</li>
    <li class="list-group-item">List Item Two</li>
    <li class="list-group-item">List Item Three</li>
    <li class="list-group-item">List Item Four</li>
    <li class="list-group-item">List Item Five</li>
  </ul>
  <iframe width="100%" height="200" src="//jsfiddle.net/dgabhawala/1h5zwjev/embedded/html/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
  <p><strong>ACTIVE LIST GROUP ITEM EXAMPLE</strong></p>
  <ul class="list-group">
    <li class="list-group-item active">List Item One</li>
    <li class="list-group-item">List Item Two</li>
    <li class="list-group-item">List Item Three</li>
    <li class="list-group-item">List Item Four</li>
    <li class="list-group-item">List Item Five</li>
  </ul>
  <iframe width="100%" height="200" src="//jsfiddle.net/dgabhawala/pf0u7wjy/embedded/html/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
  <p><strong>DISABLED LIST GROUP ITEM EXAMPLE</strong></p>
  <ul class="list-group">
    <li class="list-group-item disabled">List Item One</li>
    <li class="list-group-item">List Item Two</li>
    <li class="list-group-item">List Item Three</li>
    <li class="list-group-item">List Item Four</li>
    <li class="list-group-item">List Item Five</li>
  </ul>
  <iframe width="100%" height="200" src="//jsfiddle.net/dgabhawala/4zb2ogq0/1/embedded/html/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
  <p><strong>LINK GROUP ITEM EXAMPLE</strong></p>
  <div class="list-group">
    <a href="#" class="list-group-item">List Item One</a>
    <a href="#" class="list-group-item">List Item Two</a>
    <a href="#" class="list-group-item">List Item Three</a>
    <a href="#" class="list-group-item">List Item Four</a>
    <a href="#" class="list-group-item">List Item Five</a>
  </div>
  <iframe width="100%" height="200" src="//jsfiddle.net/dgabhawala/vrdugxsn/3/embedded/html/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
  <p><strong>FLUSH GROUP EXAMPLE</strong></p>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item">List Item One</a>
    <a href="#" class="list-group-item">List Item Two</a>
    <a href="#" class="list-group-item">List Item Three</a>
    <a href="#" class="list-group-item">List Item Four</a>
    <a href="#" class="list-group-item">List Item Five</a>
  </div>
  <iframe width="100%" height="200" src="//jsfiddle.net/dgabhawala/c4pjxqrt/1/embedded/html/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
  <p><strong>SAMPLES</strong></p>
  <p>TO INCLUDE A <b>KICKSTART Layout</b> COMPONENT:</p>
  <ol>
    <li>
      Code the
      <pre>div</pre>
      element. Include any desired attributes and values, such as an id or event handler.
    </li>
    <li>
      Add the <pre>list-group</pre> class to the div and add list group item to the div.
    </li>
    <li>
      List group item can be a link or a list item.
    </li>
    <p>The list group component is ready to use.</p>
  </ol>
  <p>CONFIGURATION OPTIONS</p>
  <p>The Kickstart CSS classes apply various predefined visual enhancements to the layout. The table below lists
    the available classes and their effects.</p>
  <table>
    <thead>
    <tr>
      <th>Class</th>
      <th>Effect</th>
      <th>Remarks</th>
    </thead>
    <tbody>
    <tr>
      <td><span><pre>list-group</pre></span></td>
      <td>Defines list group component.</td>
      <td>Required on an element</td>
    </tr>
    <tr>
      <td><span><pre>list-group-item</pre></span></td>
      <td>Defines list group items</td>
      <td>Required on an element/td>
    </tr>
    <tr>
      <td><span><pre>active</pre></span></td>
      <td>Class added for active list item.</td>
      <td>Optional</td>
    </tr>
    </tbody>
  </table>
</div>