<footer>
  <div class="flex-footer">
    <div class="copyright">
      &copy; <%= Date.today.year %> <%= Rails.configuration.application_name %>
    </div>
    <ul>
      <li>
        <%= link_to 'Terms', terms_path %>
      </li>
      <li>
        <%= link_to 'Privacy', privacy_path %>
      </li>
    </ul>
  </div>
</footer>
