<%= content_for :title, 'Getting Started' %>
<%= render partial:'shared/secondary', locals:{ link_active: 'Getting' } %>
<%= content_for :body_classes, 'secondary-nav-content' %>
<div class="content">
  <div class="container">
    <h1>
      Get Started
    </h1>
  </div>
</div>