<%= content_for :title, 'Home' %>
<%= render partial:'shared/secondary', locals:{ link_active: 'About' } %>
<%= content_for :body_classes, 'secondary-nav-content' %>

<div class="content">
  <div class="container">
    <section class="text-center">
      <h2>Kickstart</h2>
      <p>
        Kickstart is a rails template library that includes custom css library, javascript/coffeescript and HTML
        templates/scaffolds. Provides a mobile responsive layout with all the modern essential components such as
        buttons, card, checkboxes, dropdowns, modals, etc. A number of components are strictly designed to follow modern
        user expectations and engagement, so it might require custom work depending on your needs. Some of the design
        concepts are explained along with the components.
      </p>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h3>Templates</h3>
          <p>
            Designing a product or website is quite a time intensive endeavour. It is often a great help to start with a
            basic template and go forward with the rest. Please explore the templates shared and chose your favorite.
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>Components</h3>
          <p>
            Components are at the core of a consistent experience on any website or product. Kickstart attempts to
            design the standard components with simplicity and modern expectations in mind. Check out the components to
            build your own custom layout.
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>Styles</h3>
          <p>
            TO BE UPDATED
            Divide details about your product or agency work into parts. Write a few lines about each one.
            A paragraph describing a feature will be enough.
          </p>
        </div>
      </div>
      <p>
        Get started today by creating your new rails app with Kickstart here!
      </p>
      <p>
        <%= link_to 'Get Started Today', new_user_registration_path, class: 'btn btn-primary-outline' %>
      </p>
    </section>
    <section class="review text-center">
      <h2>Our Users Love Us</h2>
      <p>
        You need more information? Check what other persons are saying about our product.
        <br/>
      </p>
      <div class="row m-0">
        <div class="col-sm-12 col-md-4">
          <div class="card card-shadow text-left">
            <div class="card-body">
              <p>
                Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love
                the color mixtures, cards... everything. Keep up the great work!
              </p>
              <p class="text-right">
                &mdash; Author name
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card card-shadow text-left">
            <div class="card-body">
              <p>
                Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love
                the color mixtures, cards... everything. Keep up the great work!
              </p>
              <p class="text-right">
                &mdash; Author name
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card card-shadow text-left">
            <div class="card-body">
              <p>
                Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love
                the color mixtures, cards... everything. Keep up the great work!
              </p>
              <p class="text-right">
                &mdash; Author name
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>