<%= content_for :title, 'Pricing' %>
<div class="content">
  <div class="container">
    <h1 class="text-center">Pricing</h1>
    <div class="text-center"><%= t('pricing.description_html') %></div>
    <p class="text-center"><%= link_to 'Get Started with Free Trial Today', '', class:'btn btn-primary' %></p>
  </div>
</div>