<div class="content">
  <div class="row">
    <div class="col-lg-4 col-md-8 col-sm-12 mx-auto">
      <div class="card card-bordered card-shadow">
        <div class="card-body">
          <h2 class="card-title text-center">Update <%= singular_table_name.capitalize %></h2>
          <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
        </div>
      </div>
    </div>
  </div>
</div>
