<% name_attribute = attributes.find{ |a| a.name == "name" } %>
<% has_name = !!name_attribute %>
<div class="content">
  <div class="row m-1">
    <div class="col-12">
      <div class="card table-card card-shadow">
        <div class="card-header">
          <div class="card-title">
            <%%= plural_table_name.capitalize %>
          </div>
          <div class="card-menu">
            <%%= link_to '<i class="fas fa-search"></i>'.html_safe, '#', class:'icon-button search' %>
            <div class="icon-button dropdown">
              <%%= link_to '<i class="fas fa-ellipsis-v"></i>'.html_safe, '#', {data:{toggle:'.dropdown-menu', toggle_class:'active'}, class:''} %>
              <ul class="dropdown-menu">
                <li>
                  <%%= link_to new_<%%= singular_table_name %>_path do %>
                  New <%%= human_name %>
                  <%% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-table-search">
            <%%= text_field_tag :search, nil, placeholder: :Search %>
            <%%= link_to '&times;'.html_safe, '#',class:'close-search' %>
          </div>
          <table>
            <thead>
            <tr>
              <% if has_name %>
                <th>Name</th>
              <% end %>
              <% attributes.without(name_attribute).each do |attribute| -%>
                <th><%%= attribute.human_name %></th>
              <% end -%>
              <% unless has_name %>
                <th></th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <%% @<%%= plural_table_name%>.each do |<%%= singular_table_name %>| %>
            <%%= content_tag :tr, id: dom_id(<%%= singular_table_name %>), class: dom_class(<%%= singular_table_name %>) do %>
            <% if has_name %>
              <td class="text-center"><%%= link_to <%%= singular_table_name %>.name, <%%= singular_table_name %> %></td>
            <% end %>

            <% attributes.without(name_attribute).each do |attribute| -%>
              <td class="text-center"><%%= <%%= singular_table_name %>.<%%= attribute.name %> %></td>
            <% end -%>

            <% unless has_name %>
              <td class="text-center"><%%= link_to 'Show', <%%= singular_table_name %> %></td>
            <% end %>
            <%% end %>
            <%% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
