$card-border: #F8F9FA;
.card {
  border-radius: 5px;
  max-width: 100%;
  position: relative;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.125);

  .card-header {
    font-size: 24px;

    .card-title {
      padding: 0;
      margin: 0;
    }
  }

  .card-header, .card-body, .card-actions {
    padding: 16px;
  }

  .card-menu {
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 0.5rem;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }
  }

  .card-text {
    margin: 0;
    padding: 0;
  }

  .card-actions{
    border-top: 1px solid rgba(0,0,0,0.125);
  }

  &.card-sample{

  }

  &.card-primary {
    background-color: #cce5ff;
    color: #004085;
  }

  &.card-secondary {
    background-color: #e2e3e5;
    color: #383d41;
  }

  &.card-success {
    background-color: #d4edda;
    color: #155724;
  }

  &.card-danger {
    background-color: #f8d7da;
    color: #721c24;
  }

  &.card-warning {
    background-color: #fff3cd;
    color: #856404;
  }

  &.card-info {
    background-color: #d1ecf1;
    color: #0c5460;
  }

  &.card-light {
    background-color: #fefefe;
    color: #818182;
  }

  &.card-dark {
    background-color: #d6d8d9;
    color: #1b1e21;
  }

}

.card-shadow {
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.table-card {
  .card-header {
    display: flex;
    justify-content: space-between;

    .card-menu {
      display: flex;
      justify-content: space-between;
      padding: 0;

      a {
        color: black;
      }
    }

    .icon-button {
      font-size: 18px;
      margin-right: 10px;
      color: #000 !important;
    }
  }

  .card-body {
    padding: 0;

    .card-table-search {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      height: 48px;
      position: relative;
      display: none;

      input {
        width: 100%;
        height: 100%;
        border: none;
        padding: 6px 12px;
        font-size: 16px;
      }

      .close-search {
        position: absolute;
        right: 12px;
        top: 12px;
        font-size: 24px;
      }

      &.active {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }
    }

    table {
      position: relative;
      //border: 1px solid rgba(0, 0, 0, .12);
      border-collapse: collapse;
      white-space: nowrap;
      font-size: 16px;
      background-color: #fff;

      tr {
        display: table-row;
      }

      thead {
        vertical-align: bottom;
        padding-bottom: 3px;

        th {
          position: relative;
          vertical-align: bottom;
          text-overflow: ellipsis;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0;
          height: 48px;
          font-size: 14px;
          color: rgba(0, 0, 0, .54);
          padding-bottom: 8px;
          box-sizing: border-box;
        }
      }

      td, th {
        padding: .75rem;
        vertical-align: top;
        border-top: 0 !important;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    }
  }

}

.card-bordered {
  border: 2px solid $card-border;
}