form{
  display: block;
  .form-field{
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
    label{
      display: block;
      margin-bottom: 0.5rem;
    }
    input, textarea{
      display: block;
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      font-family: 'Ubuntu', sans-serif;
    }
    select{
      position: relative;
      display: block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      background-color: #fff;
      border-width: 1px;
      border-color: #ced4da;
      color: #495057;
      padding: .75rem 2rem .75rem 1rem;
      border-radius: .25rem;
      font-size: 1rem;
      line-height: 1.25;
      cursor: pointer;
      &:after{
        content: " \2191";
      }
    }
    &.checkbox{
      display: flex;
    }
  }
}
.field_with_errors{
  input, textarea{
    border-color: #721c24 !important;
  }
}
input, textarea{
  &:focus{
    outline-offset: 0 !important;
    outline: 0 !important;
  }
}