table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  thead th{
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  td, th{
    padding: .75rem;
    vertical-align: top;
  }
}
table.stripped{
  tr:nth-child(even){background-color: #f2f2f2;}
}