$tabs-link-color: #000000;
$tabs-link-border: #000000;
.tabs-header {
  width: 100%;
  display: flex;
  overflow-x: scroll;

  a {
    padding: 12px;
    display: inline-block;
    color: $tabs-link-color;
    width: max-content;

    &.active {
      font-weight: bold;
      border-bottom: 1px solid $tabs-link-border;
    }
  }
}

.tabs-panel {
  display: none;

  &.active {
    display: block;
  }
}

.vertical-tabs {
  display: flex;
  .tabs-header {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 10%;
    a{
      display: block;
      width: fit-content;
    }
  }
  .tab-panels{
    display: block;
  }
}