//Text alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

//Font Color
.bg-primary {
  background-color: #cce5ff;
}

.text-primary {
  color: #004085;
}

.bg-secondary {
  background-color: #e2e3e5;
}

.text-secondary {
  color: #383d41;
}

.bg-success {
  background-color: #d4edda;
}

.text-success {
  color: #155724;
}

.bg-danger {
  background-color: #f8d7da;
}

.text-danger {
  color: #721c24;
}

.bg-warning {
  background-color: #fff3cd;
}

.text-warning {
  color: #856404;
}

.bg-info {
  background-color: #d1ecf1;
}

.text-info {
  color: #0c5460;
}

.bg-light {
  background-color: #fefefe;
}

.text-light {
  color: #818182;
}

.bg-dark {
  background-color: #d6d8d9;
}

.text-dark {
  color: #1b1e21;
}

//Float
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-clear {
  clear: both;
}

.float-clear--right {
  clear: right;
}

.float-clear--left {
  clear: left;
}

//Margin
.m-0 {
  margin: 0;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-1 {
  margin: 0.25rem;
}

//Padding
.p-0 {
  padding: 0;
}

// Highlights
highlight, .highlight{
  color: #856404;
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(-100deg, rgba(255,243,205,0.3), rgba(255,243,205,0.7) 95%, rgba(255,243,205,0.1));
}

// Blockquote
blockquote{
  text-align:left !important;
}

//Errors list
.errors {
  padding: 0.5rem;
  border: 1px solid #721c24;
  border-radius: 5px;
  margin-bottom: 10px;

  p {
    margin: 0;
  }
}

//// Flexbox
//.flex{
//  display: flex;
//}
//.flex-justify-center{
//  justify-content: center;
//}


pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.125);
}

code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

p, a, li, span, tr, td {
  pre {
    display: inline;
    background-color: rgba(0, 0, 0, .06);
    border-radius: 3px;
    white-space: pre-wrap;
    font-size: 85%;
    padding: 2px 5px;
  }
}

//Heading Fonts
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h1, .h1{
  font-size: 2.5rem;
}
h2, .h2{
  font-size: 2rem;
}
h3, .h3{
  font-size: 1.75rem;
}
h4, .h4{
  font-size: 1.5rem;
}
h5, .h5{
  font-size: 1.25rem;
}
h6, .h6{
  font-size: 1rem;
}
