<div class="video-guide">
  <div class="video-guides-separator"></div>
  <div class="row m-0">
    <div class="col-md-5 col-12">
      <div class="video-guide-title">
        <%= video.title %>
      </div>
      <div class="video-guide-description">
        <%= truncate(strip_tags(video.content.body.html_safe), length: 500, escape: true) %>
      </div>
      <%= link_to 'Read More', guides_video_path(video), class:'btn btn-primary' %>
    </div>
    <div class="col-md-7 col-12">
      <div class="video-guide-video">
        <figure class="video-embed">
          <iframe src="<%= video.video_link.gsub('watch?v=','embed/') %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      </div>
    </div>
  </div>
</div>
