<div class="content">
  <div class="container text-center">
    <h1 class="title">
      Master our product
    </h1>
    <p class="subtitle">
      No dry, laborious manuals here. These short videos will have you up and running in no time.
    </p>
    <p class="text-center">
      <%= link_to 'Text Guides &rarr;'.html_safe, guides_texts_path, class:'btn btn-primary-outline' %>
    </p>
    <div class="video-guides-collection">
      <%= render @videos %>
    </div>
  </div>
</div>
